.sidebar {
    background-color: #ffffff;
    padding: 20px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 90px;
  }

  .sidebar li {
    display: flex;
    align-items: center;
    margin: 25px 0;
    cursor: pointer;
    font-size: 15px;
    color:#ABB5BA;
    padding: 7px;
    transition: background-color 0.3s ease;
  }

  .sidebar li img {
    margin-right: 20px;
    font-size: 10px;
    block-size: 20px;  
  }

  .sidebar li.active {
    color: #369FFF;
    border-radius: 30px;
  }
  